<h1>ALL POSTS</h1>

<table class="table table-bordered table-responsive">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th>Allow Comments</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each posts}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td style="text-align: center">{{allowComments}}</td>
        <td>
            <a href="/admin/posts/edit/{{id}}" class="btn btn-warning">Edit</a>
            <a href="/admin/posts/delete/{{id}}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>